body{
    background-color: lightgrey;
    font-family: Arial, serif;
}

.container{
    display: grid;
    grid-template-columns: 4fr minmax(200px, 1fr);
    grid-template-rows: 150px auto auto auto;
}

.header{
    grid-column: 1 / 3;
    grid-row: 1;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-position: center;
    background-size: 100%;
    justify-content: center;
    display: flex;
}

.header img{
    display: inline-block;
    vertical-align: middle;
}
.header .titletext{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    font-size: medium;
}
.header p{
    font-style: italic;
    vertical-align: center;
}

.nav{
    grid-column: 1 / 3;
    grid-row: 2;
    background-color: transparent;
    padding: 0px;
    border: 4px solid green;
    border-radius: 1rem;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4)
}
.nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav li{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background 0.4s;
}
.nav li:hover{
    background-color: darkgreen;
}
.nav .admin{
    margin-left: auto;
}
.nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.main {
    grid-column: 1 / 3;
    grid-row: 3;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

.loginform{

}

.adminpage{

}

.order_review{

}

.customer_detail_and_order_block{
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}

.customer_detail_table{
    border: 4px solid green;
    background-color: lightgrey;
    border-radius: 1rem;
}

.customer_orders_table{
    border: 4px solid green;
    background-color: lightgrey;
    border-radius: 1rem;
}

.summary_block{

}

.footer{
    grid-column: 1 / 3;
    grid-row: 4;
    padding: 1%;
    font-size: 0.9rem;
    font-weight: bold;
}

button {
    text-align: center;
    font-size: medium;
    font-weight: 400;
    color: green;
    padding: 5px 5px;
    margin: 5px 3px;
    border: 4px solid green;
    background-color: transparent;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}

input {
    color: green;
    padding: 5px 5px;
    margin: 5px 3px;
    border: 4px solid green;
    background-color: lightgrey;
    border-radius: 1rem;
}

.hidden{
    display: none;
}

@media screen and (max-width: 500px)
{
    .nav ul
    {
        flex-direction: column;
        flex-wrap: nowrap;

    }

    .header .titletext{
        font-size: smaller;
        vertical-align: top;
    }

    .header p{

        vertical-align: top;
    }

    .header{
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 400px)
{

    .header p{
        display: none;
    }

}