<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebMotor</title>
    <link rel="icon" type="image/x-icon" href="images/engine-electricity-motor.svg">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
<div class="container">
    <header class="header">

        <img src="images/engine-electricity-motor.svg" alt="Motor icon">
        <div class="titletext">
            <h1>WebMotor - The motor webshop</h1>
            <p>...Low RPM motors don't exist - only low voltage...</p>
        </div>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cart">Cart</a></li>
            <li class="admin"><a href="/admin">Admin</a></li>
        </ul>
    </nav>
    <main class="main">
        <h2>Introduction</h2>
        <p>
            Welcome to our electric motor webshop,
            your one-stop destination for high-quality
            electric motors and accessories. Whether you're
            a hobbyist, professional engineer, or industrial
            operator, we have a wide range of electric motors
            to meet your needs. With a commitment to reliability,
            performance, and customer satisfaction, we aim to
            provide you with the perfect solutions to power your
            projects and applications. Explore our selection and
            find the ideal electric motor to drive your innovations.
        </p>
        <h2>Contact</h2>
        <p>
            Kazup Dániel<br>
            Kocziha Barnabás<br>
            Petrőtei Tamás József<br>
            Kovács Tamás Barnabás
        </p>
    </main>

    <footer class="footer">
        <p>Copyright &copy; 2023</p>
    </footer>
</div>

<script src="js/about.js"></script>
</body>
</html>