<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
<div>
    <header>
        <h1>Admin login</h1>
    </header>
    <main>
        <div id = "loginform">
            <p>Enter admin credentials</p>

            <form>
                <label>Login name:</label><br>
                <input type="text" id="adminname" name="adminname"><br>
                <label>Password:</label><br>
                <input type="password" id="adminpwd" name="adminpwd"><br>
            </form>

            <button id="backtomain">Back</button>
            <button id="login">Login</button>
        </div>
        <div id = "adminpage">
            <p>Login successful</p>
            <button id="logout">Logout</button>
        </div>
    </main>
    <footer>

    </footer>
</div>

<script src="js/admin.js"></script>
</body>
</html>