<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebMotor</title>
    <link rel="icon" type="image/x-icon" href="images/engine-electricity-motor.svg">
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
<div class="container">
    <header class="header">

        <img src="images/engine-electricity-motor.svg" alt="Motor icon">
        <div class="titletext">
            <h1>WebMotor - The motor webshop</h1>
            <p>...Low RPM motors don't exist - only low voltage...</p>
        </div>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cart">Cart</a></li>
            <li class="admin"><a href="/admin">Admin</a></li>
        </ul>
    </nav>
    <main class="main">
        <h2>Admin Page</h2>
        <section id = "loginform" class = "hidden">
            <p>Enter admin credentials to review orders</p>
            <form>
                <input type="text" id="adminname" name="adminname" placeholder="Name"><br>
                <input type="password" id="adminpwd" name="adminpwd" placeholder="Password"><br>
            </form>
            <div class="login_buttons">
                <button id="backtomain">Back</button><br>
                <button id="login">Login</button>
            </div>
        </section>

        <section id = "adminpage" class="hidden">
            <button id="show_orders">Refresh Review</button>
            <button id="logout">Logout</button>
            <div class="order_review" id="order_review">

            </div>
        </section>
    </main>

    <footer class="footer">
        <p>Copyright &copy; 2023</p>
    </footer>
</div>

<script src="js/admin.js"></script>
</body>
</html>