<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebMotor</title>
    <link rel="icon" type="image/x-icon" href="images/engine-electricity-motor.svg">
    <link rel="stylesheet" href="css/cart.css">
</head>
<body>
<div class="container">
    <header class="header">

        <img src="images/engine-electricity-motor.svg" alt="Motor icon">
        <div class="titletext">
            <h1>WebMotor - The motor webshop</h1>
            <p>...Low RPM not exists - only low voltage...</p>
        </div>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/customer">Account</a></li>
            <li class="admin"><a href="/admin">Admin</a></li>
        </ul>
    </nav>
    <main class="main">
        <h4>My Cart</h4>
        <h3 id="total_price">Total:</h3>
        <section class="cart_section" id="cart_section">
            <table class="cart_table" id="cart_table">

            </table>
            <button id="clear_cart">Clear Cart</button>
            <button id="finish_shopping">Finish Shopping</button>
        </section>

        <section class="hidden">
            <h3>Finish My Shopping</h3>
            <button id = "submit_order">Submit Order</button>
        </section>
    </main>
    <footer class="footer">
        <p>Copyright &copy; 2023</p>
    </footer>
</div>

<script src="js/cart.js"></script>
</body>
</html>