<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebMotor</title>
    <link rel="icon" type="image/x-icon" href="images/engine-electricity-motor.svg">
    <link rel="stylesheet" href="css/cart.css">
</head>
<body>
<div class="container">
    <header class="header">

        <img src="images/engine-electricity-motor.svg" alt="Motor icon">
        <div class="titletext">
            <h1>WebMotor - The motor webshop</h1>
            <p>...Low RPM motors don't exist - only low voltage...</p>
        </div>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cart">Cart</a></li>
            <li class="admin"><a href="/admin">Admin</a></li>
        </ul>
    </nav>
    <main class="main">
        <div class="mycart_heading">
            <h2 class="cart_heading" id="mycart">My Cart</h2>
            <h2 class="cart_heading" id="total_price">Total:</h2>
        </div>
        <section class="cart_section" id="cart_section">
            <div class="cart_table_container">
                <table class="cart_table" id="cart_table">

                </table>
            </div>
            <button id="clear_cart">Clear Cart</button>
            <button id="finish_shopping">Finish Shopping</button>
        </section>

        <section id="data_entry" class="hidden">
            <h2>Finish My Shopping</h2>
            <p>Please enter your personal details:</p>
            <form class="data_entry_form">
                <label class="data_entry_item" for="first_name">First Name</label>
                <input class="data_entry_item" id="first_name" type="text" value="Johnny" required/><br>
                <label class="data_entry_item" for="last_name">Last Name</label>
                <input class="data_entry_item" id="last_name" type="text" value="Bravo" required/><br>
                <label class="data_entry_item" for="email">Email</label>
                <input class="data_entry_item" id="email" type="text" value="jb@jbmail.com" required/><br>
                <label class="data_entry_item" for="tel_num">Telephone</label>
                <input class="data_entry_item" id="tel_num" type="text" value="0123456789" min="0" required/>
            </form>
            <form class="data_entry_form">
                <label class="data_entry_item" for="shipping_city">Shipping Address (City)</label>
                <input class="data_entry_item" id="shipping_city" type="text" value="Budapest 1111" required/><br>
                <label class="data_entry_item" for="shipping_street">Shipping Address (Street)</label>
                <input class="data_entry_item" id="shipping_street" type="text" value="Irinyi József utca" required/><br>
                <label class="data_entry_item" for="shipping_building">Shipping Address (Building)</label>
                <input class="data_entry_item" id="shipping_building" type="text" value="1-17" required/>
            </form>
            <div class="submit_order_form">
                <div class="accept_terms_div">
                    <p>I accept terms:</p>
                    <input type="radio" id="accept_radio" name="term_accepting" value="yes">
                    <label for="accept_radio">YES</label>
                    <input type="radio" id="decline_radio" name="term_accepting" value="no" checked>
                    <label for="decline_radio">NO</label>
                <div>
                <div class="submit_button_div">
                    <button class="submit_button" id = "submit_button">Submit Order</button>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>Copyright &copy; 2023</p>
    </footer>
</div>

<script src="js/cart.js"></script>
</body>
</html>