<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div>
        <header>
            <h1>Opening page</h1>
        </header>
        <main>
            <button id="adminlogin">Admin Login</button>
        </main>
        <footer>

        </footer>
    </div>

    <script src="js/index.js"></script>
</body>
</html>