<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebMotor</title>
    <link rel="icon" type="image/x-icon" href="images/engine-electricity-motor.svg">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <header class="header">

            <img src="images/engine-electricity-motor.svg" alt="Motor icon">
            <div class="titletext">
                <h1>WebMotor - The motor webshop</h1>
                <p>...Low RPM not exists - only low voltage...</p>
            </div>
        </header>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/customer">Account</a></li>
                <li class="admin"><a href="/admin">Admin</a></li>
            </ul>
        </nav>
        <main class="main">
            <button id="filterbutton">Show Filters</button>
            <section id="filterform" class="hidden">
                <div class = "type_select">
                    <input type="radio" id="ac" name="motor_type" value="AC">
                    <label for="ac">AC</label>
                    <input type="radio" id="dc" name="motor_type" value="DC">
                    <label for="dc">DC</label>
                </div>
                <div class="power_select">
                    <label for="power">Power</label>
                    <select name="power" id="power">
                        <option value="low">"0-100 [W]"</option>
                        <option value="medium">100-1000 [W]</option>
                        <option value="high">1000-5000 [W]</option>
                        <option value="veryhigh">5000- [W]</option>
                    </select>
                </div>
                <div class="price_select">
                    <label for="minprice">Min price:</label>
                    <input id="minprice" type="number"/><br>
                    <label for="maxprice">Max price:</label>
                    <input id="maxprice" type="number"/>
                </div>
                <button id="applyfilters">Apply</button>
            </section>
            <section class="product_container" id="product_container">

            </section>
        </main>

        <footer class="footer">
            <p>Copyright &copy; 2023</p>
        </footer>
    </div>

    <script src="js/index.js"></script>
</body>
</html>