<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebMotor</title>
    <link rel="icon" type="image/x-icon" href="images/engine-electricity-motor.svg">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <header class="header">

            <img src="images/engine-electricity-motor.svg" alt="Motor icon">
            <div class="titletext">
                <h1>WebMotor - The motor webshop</h1>
                <p>...Low RPM not exists - only low voltage...</p>
            </div>
        </header>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/customer">Account</a></li>
                <li class="admin"><a href="/admin">Admin</a></li>
            </ul>
        </nav>
        <main class="main">
            <button class="filter_button" id="filter_button">Show Filters</button>
            <section id="filter_form" class="hidden">
                <div class = "filter_card_container">
                    <div class = "filter_content" id="type_select">
                        <input type="radio" id="ac" name="motor_type" value="AC">
                        <label for="ac">AC</label>
                        <input type="radio" id="dc" name="motor_type" value="DC">
                        <label for="dc">DC</label>
                        <input type="radio" id="any" name="motor_type" value="Any" checked>
                        <label for="any">Any</label>
                    </div>
                    <div class="filter_content" id="power_select">
                        <label for="power">Power</label>
                        <select name="power" id="power">
                            <option value="all">All</option>
                            <option value="low">"0-100 [W]"</option>
                            <option value="medium">100-1000 [W]</option>
                            <option value="high">1000-5000 [W]</option>
                            <option value="veryhigh">5000- [W]</option>
                        </select>
                    </div>
                    <div class="filter_content" id="price_select">
                        <label>Price :  </label>
                        <label for="minprice">MIN</label>
                        <input class="number_input" id="minprice" type="number" value="0"/>
                        <label for="maxprice">MAX</label>
                        <input class="number_input" id="maxprice" type="number" value="1000"/>
                    </div>
                </div>
                <button class="filter_button" id="remove_filters">Remove Filters</button>
                <button class="filter_button" id="apply_filters">Apply Filters</button>
            </section>
            <section class="product_container" id="product_container">

            </section>
        </main>

        <footer class="footer">
            <p>Copyright &copy; 2023</p>
        </footer>
    </div>

    <script src="js/index.js"></script>
</body>
</html>